<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>Liste des patients</h3>
<table>
<thead>
<tr>
<th>ID</th><th>Nom</th><th>Date</th><th>Malade</th><th>Score</th>
</tr>
</thead>
<tbody>
<tr th:each="p:${listPatients}">
<td th:text="${p.id}"></td>
<td th:text="${p.nom}"></td>
<td th:text="${p.dateNaissance}"></td>
<td th:text="${p.malade}"></td>
<td th:text="${p.score}"></td>

</tr>
</tbody>
</table>
</body>
</html>